@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

:root{
    --Blue: #4C7BF3;
    --Pale_Blue: #C2D3FF;
    --Light_Red: #FF5466;
    --Gray: #969696;
    --Very_Dark_Blue: #15202A;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Libre Franklin', sans-serif;
    font-size: 20px;
    font-weight: 300;
}

.header{
    width: 90%;
    margin: 80px auto 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo{
    height: 24px;
    margin-bottom: 32px;
}

.title{
    font-size: 22px;
    font-weight: 300;
    color: var(--Gray);
    margin-bottom: 15px;
}

.title span{
    font-weight: 700;
    color: var(--Very_Dark_Blue);
}

.text{
    color: var(--Very_Dark_Blue);
    font-size: 12px;
}

.main{
    width: 90%;
    display: flex;
    margin: 32px auto 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.input__container input[type=email], input[type=submit]{
    width: 280px;
    border-radius: 28px;
    height: 40px;
    padding: 10px 32px;
    border: 1px solid var(--Blue);
}

.input__container input[type=email]::placeholder{
    color: var(--Pale_Blue);
    font-size: 12px;
}

.error{
    font-size: 10px;
    font-style: italic;
    color: var(--Light_Red);
    visibility: hidden;
    margin-top: 6px;
    text-align: center;
}

input[type=submit]{
    background-color: var(--Blue);
    border: 1px solid var(--Blue);
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    box-shadow: 0px 5px 10px 2px rgba(76, 123, 243, 0.23);
}

input[type=submit]:hover{
    background-color: var(--Blue);
    cursor: pointer;
    border: none;
    opacity: .75;
}

.dashboard{
    width: 320px;
    margin-bottom: 120px;
}

.social{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.social__networks{
    display: flex;
    gap: 14px;
}

.social__networks a{
    display: flex;
    border: 1px solid var(--Blue);
    display: grid;
    place-content: center;
    border-radius: 50px;
}

.social__networks a:hover{
    background-color: var(--Blue);
}

.social__networks a img{
    padding: 8px;
    width: 32px;
    filter: invert(40%) sepia(97%) saturate(536%) hue-rotate(189deg) brightness(97%) contrast(96%);
}

.social__networks a img:hover{
    filter: invert(99%) sepia(0%) saturate(1767%) hue-rotate(13deg) brightness(117%) contrast(100%);
}

.copyright{
    font-size: 10px;
    color: var(--Gray);
}

footer{
    width: 90%;
    margin: auto;
    font-size: 8px;
    text-align: center;
    color: var(--Gray);
    margin-bottom: 40px;
}

footer a{
    color: var(--Blue);
}


.emailValidado{
    border: 1px solid red;
}

/** DESKTOP **/

@media (min-width:720px) {
    .main{
        width: 640px;
    }

    .logo{
        height: 32px;
    }

    .title{
        font-size: 48px;
    }

    .text{
        font-size: 20px;
    }

    form{
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        margin: 40px auto 94px;
        align-items: flex-start;
    }

    .input__container{
        margin: 0;
    }

    .input__container input[type=email]{
        width: 420px;
    }

    .input__container input[type=email]::placeholder{
        font-size: 16px;
    }

    input[type=submit]{
        width: 200px;
        font-size: 16px;
    }

    .error{
        font-size: 12px;
        margin-left: 32px;
        text-align: left;
    }

    .dashboard{
        width: 640px;
    }

    .copyright{
        font-size: 12px;
    }

    footer{
        font-size: 10px;
    }
}
